# String

In [ ]:
#1# take name as input and say hello
name = input(" ")
print("Hello {} !".format(name))

In [15]:
# 2. From below string print count of "Is".
string = "He is Amol and she is Chaitali"
print(string.count("is"))

2

In [16]:
# 3. from below string split the words by space
string1 = "Data is new oil"
print(string1.split(" "))

['Data', 'is', 'new', 'oil']

In [8]:
# 4. now from below list, join all words by "=" and create a sentence.
list_1 = ["Data", "is", "new", "oil"]
joined_list = "=".join(list_1)
print(joined_list)

Data=is=new=oil

In [9]:
# 5. from below string replace "Java" with "Python"
sentence = "I love programming in Java."
new_sent = sentence.replace("Java", "Python")
print(new_sent)

I love programming in Python.

In [10]:
# 6. from below string remove(strip) additional spaces and print it
message = "   This is a message with spaces.   "
new_msg = message.strip(" ")
print(new_msg)

This is a message with spaces.

In [11]:
#7. From below string find postion(start index) of "sample"
sentence = "This is a sample sentence."
position = sentence.index("sample")
print(position)

10

In [12]:
#8. Given the string "Python is fun!", how can you calculate and print its length?
text = "Python is fun!"
print(len(text))

14

In [13]:
#9. Print below string in reverse order
string = "Pineapple"
print(string[::-1])

elppaeniP

In [16]:
#10. Given the string "Welcome to Python Programming.", how can you capitalize the first letter of each word and print the modified string?
text = "welcome to python programming."
modified_text = text.title()
print(modified_text)

Welcome To Python Programming.

In [17]:
#11. Convert all letter of string to Upper Case
text = "Data is new oil"
print(text.upper())

DATA IS NEW OIL

In [19]:
#12. From below string just convert first lettter of string to upper case
text = "i am learning python"
print(text.title())

I Am Learning Python

In [20]:
#13. Convert all uppper case to lower and lower case to upper
text = "DaTA is NeW oIL"
print(text.swapcase())

dAta IS nEw Oil

In [24]:
#14. print the addition of below 2 numbers
a = 20
b = 30
c=a+b
print(c)

50

In [22]:
#15. print the additiono of below 2 strings
a = "20"
b = "30"
c = a+b
print(c)

2030

# List

In [4]:
## 16. From below list replace 4 with 44
my_list = [1, 2, 3, 4, 5]
my_list[3]=44
print(my_list)

[1, 2, 3, 44, 5]

In [10]:
## 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]
my_list.insert(3,200)
print(my_list)

[1, 2, 3, 200, 4, 5]

In [12]:
## 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]
my_list.append(66)
print(my_list)

[1, 2, 3, 4, 5, 66]

In [13]:
## 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]
my_list.extend([66,87,99])
print(my_list)

[1, 2, 3, 4, 5, 66, 87, 99]

In [16]:
## 20. from below list remove number 3
my_list = [1, 2, 3, 4, 5]
my_list.pop(2)
print(my_list)

[1, 2, 4, 5]

In [17]:
## 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
print(my_list.count("cherry"))

2

In [18]:
## 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
print(my_list.index("banana"))

4

In [23]:
## 23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list.pop()
print(my_list)

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [20]:
## 24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [21]:
## 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse=True)
print(my_list)

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']

In [1]:
# 26. Create a list named mylist which has 3 elements- integer 3, 'element number two', '['last','element']'
mylist = [3, 'element number two', ['last', 'element']]

26.0

In [ ]:
# 27.Print the third element from the list.
l = [1,2,3,4,5,6,7,8,9]
print(l[2])

In [ ]:
# 28. Replace the word 'sixteen' by integer 16.
ListToModify=['a','b','sixteen']
ListToModify[-1]= 16
print(ListToModify)

In [ ]:
# 29.Find the length of the given list.
ListToFIndLength=['this','is','the','list','whose','length','I','want']
print(len(ListToFIndLength))

In [2]:
# 30.Print sum of the numbers given in the list.
intlist=[54,678,2890]
sum(intlist)

3622

In [3]:
# 31.Print Maximum number out of the given list.
MaxList=[677,53245,234,236,23456,345,23526,3454]
max(MaxList)

53245

In [ ]:
# 32.Print minimum number out of the given list.
MinList=[351,984,1697,284,134,467,164]
min(MinList)

In [ ]:
# 33.Append 'append me!' in the given list.
ListToAppend=[1,2,3]
ListToAppend.append('append me!')
print(ListToAppend)