# String

In [ ]:
#1# take name as input and say hello
name = input(" ")
print("Hello {} !".format(name))

In [15]:
# 2. From below string print count of "Is".
string = "He is Amol and she is Chaitali"
print(string.count("is"))

2

In [16]:
# 3. from below string split the words by space
string1 = "Data is new oil"
print(string1.split(" "))

['Data', 'is', 'new', 'oil']

In [8]:
# 4. now from below list, join all words by "=" and create a sentence.
list_1 = ["Data", "is", "new", "oil"]
joined_list = "=".join(list_1)
print(joined_list)

Data=is=new=oil

In [9]:
# 5. from below string replace "Java" with "Python"
sentence = "I love programming in Java."
new_sent = sentence.replace("Java", "Python")
print(new_sent)

I love programming in Python.

In [10]:
# 6. from below string remove(strip) additional spaces and print it
message = "   This is a message with spaces.   "
new_msg = message.strip(" ")
print(new_msg)

This is a message with spaces.

In [11]:
#7. From below string find postion(start index) of "sample"
sentence = "This is a sample sentence."
position = sentence.index("sample")
print(position)

10

In [12]:
#8. Given the string "Python is fun!", how can you calculate and print its length?
text = "Python is fun!"
print(len(text))

14

In [13]:
#9. Print below string in reverse order
string = "Pineapple"
print(string[::-1])

elppaeniP

In [16]:
#10. Given the string "Welcome to Python Programming.", how can you capitalize the first letter of each word and print the modified string?
text = "welcome to python programming."
modified_text = text.title()
print(modified_text)

Welcome To Python Programming.

In [17]:
#11. Convert all letter of string to Upper Case
text = "Data is new oil"
print(text.upper())

DATA IS NEW OIL

In [19]:
#12. From below string just convert first lettter of string to upper case
text = "i am learning python"
print(text.title())

I Am Learning Python

In [20]:
#13. Convert all uppper case to lower and lower case to upper
text = "DaTA is NeW oIL"
print(text.swapcase())

dAta IS nEw Oil

In [24]:
#14. print the addition of below 2 numbers
a = 20
b = 30
c=a+b
print(c)

50

In [22]:
#15. print the additiono of below 2 strings
a = "20"
b = "30"
c = a+b
print(c)

2030

# List

In [4]:
## 16. From below list replace 4 with 44
my_list = [1, 2, 3, 4, 5]
my_list[3]=44
print(my_list)

[1, 2, 3, 44, 5]

In [10]:
## 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]
my_list.insert(3,200)
print(my_list)

[1, 2, 3, 200, 4, 5]

In [12]:
## 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]
my_list.append(66)
print(my_list)

[1, 2, 3, 4, 5, 66]

In [13]:
## 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]
my_list.extend([66,87,99])
print(my_list)

[1, 2, 3, 4, 5, 66, 87, 99]

In [16]:
## 20. from below list remove number 3
my_list = [1, 2, 3, 4, 5]
my_list.pop(2)
print(my_list)

[1, 2, 4, 5]

In [17]:
## 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
print(my_list.count("cherry"))

2

In [18]:
## 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
print(my_list.index("banana"))

4

In [23]:
## 23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list.pop()
print(my_list)

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [20]:
## 24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [21]:
## 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse=True)
print(my_list)

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']

In [1]:
# 26. Create a list named mylist which has 3 elements- integer 3, 'element number two', '['last','element']'
mylist = [3, 'element number two', ['last', 'element']]

26.0

In [ ]:
# 27.Print the third element from the list.
l = [1,2,3,4,5,6,7,8,9]
print(l[2])

In [ ]:
# 28. Replace the word 'sixteen' by integer 16.
ListToModify=['a','b','sixteen']
ListToModify[-1]= 16
print(ListToModify)

In [ ]:
# 29.Find the length of the given list.
ListToFIndLength=['this','is','the','list','whose','length','I','want']
print(len(ListToFIndLength))

In [2]:
# 30.Print sum of the numbers given in the list.
intlist=[54,678,2890]
sum(intlist)

3622

In [3]:
# 31.Print Maximum number out of the given list.
MaxList=[677,53245,234,236,23456,345,23526,3454]
max(MaxList)

53245

In [ ]:
# 32.Print minimum number out of the given list.
MinList=[351,984,1697,284,134,467,164]
min(MinList)

In [ ]:
# 33.Append 'append me!' in the given list.
ListToAppend=[1,2,3]
ListToAppend.append('append me!')
print(ListToAppend)

In [7]:
# 34.Print the first 10 natural numbers using for loop.
n=11
for i in range (0,n):
 print(i)

0
1
2
3
4
5
6
7
8
9
10

In [15]:
# 35.Python program to print all the even numbers within the given range.
m=10
for i in range(0,m):
 if i%2==0:
    print(i)

0
2
4
6
8

In [19]:
# 36.Python program to calculate the sum of all numbers from 1 to a given number.
n=11
sum=0
for i in range(1,n+1):
    sum+=i
print(sum)

66

In [38]:
# 37.Python program to calculate the sum of all the odd numbers within the given range.
n=11
addition=0
for i in range(0,n):
    if i%2!=0:
        addition+=i
print(addition)

25

In [45]:
# 38.Python program to print a multiplication table of a given number.
n=8
for i in range(11):
    print(n,"x",i,"=",5*i)

8 x 0 = 0
8 x 1 = 5
8 x 2 = 10
8 x 3 = 15
8 x 4 = 20
8 x 5 = 25
8 x 6 = 30
8 x 7 = 35
8 x 8 = 40
8 x 9 = 45
8 x 10 = 50

In [46]:
# 39.Python program to display numbers from a list using a for loop.
list=[1,2,79,19,63]
for i in list:
    print(i)

1
2
79
19
63

In [51]:
# 40.Python program to count the total number of digits in a number.
x=254653215453
x=str(x)
count=0
for i in x:
    count+=1
print(count)

12

In [54]:
# 41.Python program to check if the given string is a palindrome.
a="dad"
a_reverse=""
for i in a:
    a_reverse=i+a_reverse
if a==a_reverse:
    print(a,"is a palindrome.")
else:
    print(a, "is not a palindrome")

dad is a palindrome.

In [56]:
# 42.Python program that accepts a word from the user and reverses it.
given_string=input()
reverse_string=""
for i in given_string:
    reverse_string = i + reverse_string
print(reverse_string)

Sau
uaS

In [ ]:
# 43.Python program to check if a given number is an Armstrong number.
number = int(input("Enter the number: "))
number = str(number)
sum =0
for i in number:
    sum += int(i)**len(number)
if sum==int(number):
    print("The given number {} is an Amstrong number".format(number))
else:
    print("The given number {} is not an Amstrong number".format(number))

In [1]:
## 44. Python program to count the number of even and odd numbers from a series of numbers.

numbers = input("Enter a series of numbers: ")

numbers_list = [int(num) for num in numbers.split()]

even_count = 0
odd_count = 0

for num in numbers_list:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)

Enter a series of numbers: 1 2 3 4 5 6 7 5 6 9
Number of even numbers: 4
Number of odd numbers: 6

In [2]:
## 45.Python program to display all numbers within a range except the prime numbers.
def is_not_prime(n):
    flag = False
    for i in range(2, int((n**0.5)) + 1):
        if n % i == 0:
            flag = True
    return flag

range_starts = int(input("enter the start range:"))

range_ends = int(input("enter the end range: "))
print("Non-prime numbers between",range_starts,"and", range_ends,"are:")
 
for number in filter(is_not_prime, range(range_starts, range_ends)):
    print(number)

enter the start range:123
enter the end range: 1230
Non-prime numbers between 123 and 1230 are:
123
124
125
126
128
129
130
132
133
134
135
136
138
140
141
142
143
144
145
146
147
148
150
152
153
154
155
156
158
159
160
161
162
164
165
166
168
169
170
171
172
174
175
176
177
178
180
182
183
184
185
186
187
188
189
190
192
194
195
196
198
200
201
202
203
204
205
206
207
208
209
210
212
213
214
215
216
217
218
219
220
221
222
224
225
226
228
230
231
232
234
235
236
237
238
240
242
243
244
245
246
247
248
249
250
252
253
254
255
256
258
259
260
261
262
264
265
266
267
268
270
272
273
274
275
276
278
279
280
282
284
285
286
287
288
289
290
291
292
294
295
296
297
298
299
300
301
302
303
304
305
306
308
309
310
312
314
315
316
318
319
320
321
322
323
324
325
326
327
328
329
330
332
333
334
335
336
338
339
340
341
342
343
344
345
346
348
350
351
352
354
355
356
357
358
360
361
362
363
364
365
366
368
369
370
371
372
374
375
376
377
378
380
381
382
384
385
386
387
388
390
391
392
393
394
395
396
398
399
400
402
403
404
405
406
407
408
410
411
412
413
414
415
416
417
418
420
422
423
424
425
426
427
428
429
430
432
434
435
436
437
438
440
441
442
444
445
446
447
448
450
451
452
453
454
455
456
458
459
460
462
464
465
466
468
469
470
471
472
473
474
475
476
477
478
480
481
482
483
484
485
486
488
489
490
492
493
494
495
496
497
498
500
501
502
504
505
506
507
508
510
511
512
513
514
515
516
517
518
519
520
522
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
542
543
544
545
546
548
549
550
551
552
553
554
555
556
558
559
560
561
562
564
565
566
567
568
570
572
573
574
575
576
578
579
580
581
582
583
584
585
586
588
589
590
591
592
594
595
596
597
598
600
602
603
604
605
606
608
609
610
611
612
614
615
616
618
620
621
622
623
624
625
626
627
628
629
630
632
633
634
635
636
637
638
639
640
642
644
645
646
648
649
650
651
652
654
655
656
657
658
660
662
663
664
665
666
667
668
669
670
671
672
674
675
676
678
679
680
681
682
684
685
686
687
688
689
690
692
693
694
695
696
697
698
699
700
702
703
704
705
706
707
708
710
711
712
713
714
715
716
717
718
720
721
722
723
724
725
726
728
729
730
731
732
734
735
736
737
738
740
741
742
744
745
746
747
748
749
750
752
753
754
755
756
758
759
760
762
763
764
765
766
767
768
770
771
772
774
775
776
777
778
779
780
781
782
783
784
785
786
788
789
790
791
792
793
794
795
796
798
799
800
801
802
803
804
805
806
807
808
810
812
813
814
815
816
817
818
819
820
822
824
825
826
828
830
831
832
833
834
835
836
837
838
840
841
842
843
844
845
846
847
848
849
850
851
852
854
855
856
858
860
861
862
864
865
866
867
868
869
870
871
872
873
874
875
876
878
879
880
882
884
885
886
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
908
909
910
912
913
914
915
916
917
918
920
921
922
923
924
925
926
927
928
930
931
932
933
934
935
936
938
939
940
942
943
944
945
946
948
949
950
951
952
954
955
956
957
958
959
960
961
962
963
964
965
966
968
969
970
972
973
974
975
976
978
979
980
981
982
984
985
986
987
988
989
990
992
993
994
995
996
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1010
1011
1012
1014
1015
1016
1017
1018
1020
1022
1023
1024
1025
1026
1027
1028
1029
1030
1032
1034
1035
1036
1037
1038
1040
1041
1042
1043
1044
1045
1046
1047
1048
1050
1052
1053
1054
1055
1056
1057
1058
1059
1060
1062
1064
1065
1066
1067
1068
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1088
1089
1090
1092
1094
1095
1096
1098
1099
1100
1101
1102
1104
1105
1106
1107
1108
1110
1111
1112
1113
1114
1115
1116
1118
1119
1120
1121
1122
1124
1125
1126
1127
1128
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1152
1154
1155
1156
1157
1158
1159
1160
1161
1162
1164
1165
1166
1167
1168
1169
1170
1172
1173
1174
1175
1176
1177
1178
1179
1180
1182
1183
1184
1185
1186
1188
1189
1190
1191
1192
1194
1195
1196
1197
1198
1199
1200
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1214
1215
1216
1218
1219
1220
1221
1222
1224
1225
1226
1227
1228

In [3]:
## 46.Python program to get the Fibonacci series between 0 to 50.
num = int(input("Enter the number: "))
a, b = 0, 1

print(a, end=" ")
print(b, end=" ")

while a + b <= num:
    c = a + b
    print(c, end=" ")
    a, b = b, c

Enter the number: 37
0 1 1 2 3 5 8 13 21 34

In [4]:
## 47.Python program to find the factorial of a given number.
num= int(input("Enter the number: "))
factorial = 1
for i in range(1,num+1):
    factorial = factorial*i
    
print("The factorial of {} is {}".format(num,factorial))

Enter the number: 21
The factorial of 21 is 51090942171709440000

In [5]:
user_input = input("Enter the string: ")
digits = 0
letters =0
for i in user_input:
    if i.isdigit():
        digits = digits+1
    elif i.isalpha():
        letters = letters+1
print("The string has {} letters and {} digits".format(letters,digits))

Enter the string: Saurabh1234
The string has 7 letters and 4 digits

In [1]:
# 49.Given the following dictionary, print all the keys.
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

# Print all the keys
for key in my_dict.keys():
    print(key)

name
age
city
occupation

In [2]:
# 50.Print all values of dictionary 

my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

# Print all the values
for value in my_dict.values():
    print(value)

Alice
25
New York
Engineer

In [3]:
# 51. Print all values except "New York"

my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

# Print all values except the one with the key_to_exclude
for value in my_dict.values():
    if value!= "New York":
        print(value)

Alice
25
Engineer

In [4]:
# 52.  Delete key "age" from below dict

my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

# Delete the "age" key from the dictionary
if "age" in my_dict:
    del my_dict["age"]

print(my_dict)

{'name': 'Alice', 'city': 'New York', 'occupation': 'Engineer'}

In [5]:
# 53.Print value of "occupation" from below dictionary.

my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

# Print the value associated with the key "occupation"
print(my_dict["occupation"])

Engineer